@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sidebar-items {
    @apply p-7 border-b border-gray-700 hover:bg-gray-200;
  }
  .submit-btn {
    @apply w-full p-2 mt-2 bg-blue-500 text-white rounded;
  }
  .submit-btn:hover {
    @apply cursor-pointer bg-blue-700;
  }
  .description {
    @apply items-center;
  }

  kbd {
    @apply inline-block items-center justify-center text-center px-2 py-1 mx-0 my-0.5 bg-gray-100 rounded-md shadow-sm border-gray-400 text-xs align-middle;
  }

  kbd > * {
    @apply size-4;
  }

  .comp-os-icon {
    @apply inline-block align-middle;
  }

  .comp-os-icon > * {
    @apply size-4;
  }

  .dot {
    @apply bg-black rounded-full w-2 h-2 mx-0 my-0.5;
    animation: typing 1s infinite steps(1);
  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes typing {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}
